{% extends "master.html" %}
{% load static %}
{% block title %}
  Contact
{% endblock %}
{% block content %}
<div class="body" style="font-size: 35px;" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<span style="color: red;"><u>CONTACT ME -</u></span><br><br>
<p  style="color: #779933;">I am available for hire and open to any ideas of cooperation.</p>
<p  style="color: #779933;">
E-mail:&emsp;&emsp;&emsp;&emsp;&emsp; <i style="font-size:24px" class="fa">&#xf0e0;</i><a href="mailto:prakashabhishek32@gmail.com" title="Click to Send E-mail"><span style="color: orange;">prakashabhishek32@gmail.com</span></a><br>
<br>LinkedIn:&emsp;&emsp;&emsp;&emsp; <i style="font-size:24px" class="fa">&#xf08c;</i><a href="https://www.linkedin.com/in/abhishek-prakash-a73366167/"  title="Click to View"><span style="color: orange;">abhishek-prakash</span></a><br>
<br>Github: &emsp;&emsp;&emsp;&emsp;&emsp;<i style="font-size:24px" class="fa">&#xf09b;</i><a href="https://github.com/abhishekprakash32"  title="Click to View"><span style="color: orange;">abhishekprakash32</span></a>
</p>
<br><br><br><br><br><br><br>
</div>
{% endblock %}
